<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>LoremIpsum Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>cz.pavelkunc.safari.repete</string>
       <key>Developer Identifier</key>
       <string>7N7474N3V7</string>
       <key>CFBundleVersion</key>
       <string>1.2</string>
       <key>CFBundleShortVersionString</key>
       <string>1.2</string>
       <key>URL</key>
       <string>http://pavelkunc.cz/projects/repete/repete.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
